*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.expanded {
    max-width: 1320px;
    }

    @media (min-width: 768px) {
    .expanded {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        padding: 0px 7%;
    }
}
blockquote{
    color: var(--color-yellow);
}
section{
    height: 100vh;
    margin-top: 5rem ;
    margin-bottom:5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 0px;
    scroll-behavior: smooth;
    transition-delay: 50ms;
}
/* .hidden{
    filter: blur(5px);
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease;
}
.show{
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
    box-sizing: border-box;
}
:root{
    --color-background:#f0f0f0;
    --color-blue:#016ccf;
    --color-white:#fff;
    --color-black:#212121;
    --color-text:#333;
    --color-yellow:#F5A80A;
    --color-outline:#5F63688C;
}
body{
    background-color:var(--color-background) !important;
    font-family: 'Roboto', sans-serif !important;
}

.about_section{
    height: auto;
}
.about_main{
    padding: 30px;
}
.about_page{
    background-color: var(--color-white);
    height: auto;
    border-radius: 24px;
    /* margin-bottom: 10px; */
}
.about_heading{
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(../image/Aircraft_in_the_sky.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 200px;
}
.about_statement{
    display: flex;
    gap: 2rem;
    padding: 20px;
    justify-content: center;
}
.about_goals{
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.about_goals::before, .about_goals::after{
    content: '''';
    flex: 1;
    height: 1px;
    background: var(--color-black);
}
.about_contents{
    padding: 20px;
}
.about_vision{
    margin-top: 30px;
    background-color: #add6fc;
    border-radius: 18px;
    width: 510px;
    padding: 30px;
}
.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* height: 500px; */
    /* width: 500px; */
    /* align-content: center; */
    /* padding: 5px; */
}
.about_us{
    /* width: 200px; */
    height: 170px;
    background-color: #add6fc;
    border-radius: 18px;
    padding: 18px;
}