*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.career_1{
    height: 400px;
    width: 100%;
    background-color: bisque;
    background-image: url(../plane.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    border-radius: 10px;
    


}
.career_container{
    display: grid;
    grid-template-columns:repeat(3,minmax(200px,1fr)) ;
    column-gap: 15px;
    row-gap: 15px;
    height: auto;
    /* background-color: var(--color-background); */
    
    
}
.career_card_container{
    height: auto;
    background-color: var(--color-white);
    border: 12px;
    color: var(--color-background);
    /* padding: 28px; */
    padding-left: 18px;
    padding-right: 18px;
    /* height: auto; */
    padding-bottom: 15px;
    border-radius: 10px;
    border-style: none;
    border-color: var(--color-outline);
    margin-top: 15px; 
}
.career_container a{
    text-decoration: none;
}
.career_img{
    height: 300px;
    width: 100%;
}
.career_card{
    background-color: var(--color-background);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;  
    height: 200px;
}
.Explore{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 20%;
}
.paragraph{
    font-size: 24px;
    font-style: italic;
}
.aviation_careers{
    font-size: 32px;
    font-weight: bolder;
    padding-bottom:2%;
    padding-top: 2%;
    color: var(--color-black);
    text-align: center;
}
:root{
    --color-background:#f0f0f0;
    --color-blue:#016ccf;
    --color-white:#fff;
    --color-black:#212121;
    --color-text:#333;
    --color-yellow:#F5A80A;
    --color-outline:#5F63688C;
}
.career_container{
    color: var(--color-background);
}
.paragraph1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.career_image{
    height: 180px;
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
}
.button_text{
    font-size: 12px;
    color: var(--color-white);
     height: 21px;
    width: 78px;
    background-color: var(--color-blue);
    border: 2px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;  
}
.button_text:hover{
    border-color: var(--color-outline);
    box-shadow: 0 2px 4px rgb(123, 123, 123);
} 
.paragraph2{
    
    font-size: 22px;
    font-weight: bolder;
}
.career_section{
    height: auto !important;
}
