*{
    list-style: 0;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
:root{
    --color-background:#f0f0f0;
    --color-blue:#016ccf;
    --color-white:#fff;
    --color-black:#212121;
    --color-text:#333;
    --color-yellow:#F5A80A;
    --color-outline:#5F63688C;
}
.explore_section{
    height: auto;
}
.explore_heading{
    position: relative;
    width: 100%;
    height: 320px;
    background-image: url(../image/Aircraft_takeoff.png);
    background-size: cover;
    background-position: center;
    padding-left: 20px;
    padding-top: 90px;
    border-radius: 5px;
}
.explore_aviation_card{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 310px;
    /* height: 465px; */
    /* text-align: center; */
    background-color: var(--color-background);
    flex: 1 0 0;
    border-radius: 15px;
    transition: all 0.3s ease;
    padding: 8px;
}
/* .explore_aviation_card:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */
.explore_card{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}
.explore_card_2{
    display: flex;
    align-items: center;
    padding-top: 25px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}
.explore_img{
    height: 150px;
    border-radius: 8px;
}
.expl{
    font-weight: bold;
}
.explore_h5{
    padding-top: 10px;
    font-weight: bold;
}
.explore_button{
    height: 45px;
    background-color: var(--color-white);
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 24px;
}
.explore_button:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.heading{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

}
.heading::before, .heading::after{
    content: '''';
    flex: 1;
    height: 1px;
    background: #333;
}
.explore_title{
    color: var(--color-white);
    font-weight: bold;
    font-size: 40px;
}
.explore_aviation_card i{
    font-size: 15px;
    padding-right: 5px;
    /* color: var(--color-blue); */
}
.explore_page{
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 10px;
}
.explore{
    font-style: italic;
    font-size: xx-large;
}
.explore_card a{
    text-decoration: none;
    color: var(--color-black);
}
.explore_card_2 a{
    text-decoration: none;
    color: var(--color-black);
}

/* ===========Explore cards============= */
.xplor-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.xplor-card{
    max-width: 350px;
    min-width: 300px;
    background-color: var(--color-background);
    padding: 16px;
    border-radius: 8px;
    flex: 1 0 0;
}

.xplor-card .image{
    background-image: url(../image/retro-military-airplane-open-air-museum.jpg);
    background-size: cover;
    background-position: bottom;
    height: 130px;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.xplor-card .image_2{
    background-image: url(../image/silhouette-airplane-orange-sunset-sky-generated-by-ai.jpg);
    background-size: cover;
    background-position: bottom;
    height: 130px;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.xplor-card .image_3{
    background-image: url(../image/airplane-flying-up-sky-with-beautiful-blue-sky.jpg);
    background-size: cover;
    background-position: bottom;
    height: 130px;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.xplor-card .image_4{
    background-image: url(../image/flying airplane laptop realistic.jpg);
    background-size: cover;
    background-position: bottom;
    height: 130px;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.xplor-content .top-text {
    /* display: flex; */
    flex-direction: column !important;
    justify-content: space-between;
    height: 100%;
}
.top-text span{
    background-color: aliceblue;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
.top-text p{
    margin-bottom: 8px;
}
.card-txt p{
    font-size: 14px;
}
.card-txt p, .card_list{
    margin-bottom: 16px;
}
.card-txt .card_list p{
    margin-bottom: 14px;    
}
.card-txt .card_list p i{
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    padding: 6px;
}
.card-txt .card_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-txt .card_btn a{
    text-decoration: none;
    color: aliceblue;
    background-color: #444444;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 5px;
}