@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General setUp */
*{
    padding: 0;
    margin: 0 ;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.expanded {
    max-width: 1320px;
    }

    @media (min-width: 768px) {
    .expanded {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        padding: 0px 7%;
    }
}
blockquote{
    color: var(--color-yellow);
}
section{
    height: 100vh;
    margin-top: 5rem ;
    margin-bottom:5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 0px;
    scroll-behavior: smooth;
    transition-delay: 50ms;
}
/* .hidden{
    filter: blur(5px);
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease;
}
.show{
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
} */
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
    box-sizing: border-box;
}
:root{
    --color-background:#f0f0f0;
    --color-blue:#016ccf;
    --color-white:#fff;
    --color-black:#212121;
    --color-text:#333;
    --color-yellow:#F5A80A;
    --color-outline:#5F63688C;
}
body{
    background-color:var(--color-background) !important;
    font-family: 'Roboto', sans-serif !important;
}
span{
    color: var(--color-blue);
}

/* ======nav bar====== */

.navbar{
    background-color: var(--color-background);
    color: var(--color-black);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 50px;
    height: auto;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
   /* font-size: 14px !important; */
}
.logo a{
   font-size: 24px !important;
    font-weight: 500;
}
@media  (max-width: 425px) {
    .logo a{
        display: none;
    }
}

/* #navbar._hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s, transform 0.3s;
}
   */
/* #navbar.visible {
    opacity: 1;
    transform: translateY(0);
    transition: height 0.5s ease !important;
} */
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
  
.navbar-toggler-icon.active {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%280, 0, 0, 1%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M5 5L25 25M5 25L25 5"%3E%3C/path%3E%3C/svg%3E');
}

.navbar button span{
    color: var(--color-black) !important;
    font-size: x-large;
}
  
.navbar a{
    color: var(--color-black) !important;
}
.navbar ul a:hover{
    color: var(--color-blue) !important;
    border-bottom: 2px solid var(--color-blue) !important;
}
.navbar .active{
    color: var(--color-blue) !important;
}



/* =========footer============ */

.footer-section {
    background: var(--color-white);
    padding: 40px 0;
    color: var(--color-text);
}

.footer-section h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    font-size: 0.9rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li i {
    margin-right: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--color-text);
}

.footer-section ul li a:hover {
    color: var(--color-blue);
}

.footer-section .social-icons {
    margin-top: 10px;
}

.footer-section .social-icons .social-icon {
    display: inline-block;
    margin-right: 10px;
    color: var(--color-text);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.footer-section .social-icons .social-icon:hover {
    color: var(--color-blue);
}

.footer-section .form-control {
    border: 1px solid #ced4da;
    border-radius: 0;
}

.footer-section .btn-primary {
    background-color: var(--color-blue);
    border: none;
    border-radius: 0;
}

.footer-section .btn-primary:hover {
    background-color: var(--color-blue);
}

.footer-section .container .row + .row {
    margin-top: 20px;
}

@media (max-width: 767.98px) {
    .footer-section {
        text-align: center;
    }

    .footer-section .container .row > div {
        margin-bottom: 20px;
    }
}


/* ===========TOP SECTION HERE=============== */
.top{
    display: flex;
    background: url(../image/Aircraft.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 1;
    /* border-radius: 9px; */
    position: relative;
    padding: 16px;
}
.toptxt{
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.txt-T h1{
    font-family: SF Pro;
    font-weight: 274;
    font-style: Light;
    font-size: 64px;
    letter-spacing: 0%;
}
.txt-T p{

    opacity: 1;
    font-size: 16px;

}
.flex-T{
    display: flex;
    gap: 15px;
    /* position: absolute;
    left: 0;
    bottom: 30px; */
}
.air-peace{
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    box-shadow: 0px 0px 11.2px 0px rgba(0, 0, 0, 0.25);

}
.AP-IMG img{
    width: 100px;
    height: 100px ;
    border-radius: 9px;
    background: rgba(178, 190, 181, 1);
}
.AP-txt{
    gap: 8px;
}
.AP-txt h3{
    font-weight: 600;
    /* background: rgba(5, 74, 250, 1); */
}
.AP-txt p{
    /* font-weight: 600;  */
    font-size: 16px;
}

.foll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* width: 109px; */
    /* height: 90px; */
    padding: 16px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 11.2px 0px rgba(0, 0, 0, 0.25);
}
.biz{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.biz img{
    width: 40px;
    height: 40px;
    opacity: 1;
    border-radius: 677px;
}
.biz h5{
    width: 43px;
    height: 19px;
    opacity: 1;
    font-size: 16px;
    line-height: 121%;
    letter-spacing: 0%;
}
.biz p{
    font-size: 10px;
    margin: 0 !important;
}
.side-nav{
    width: 200px;   
    gap: 10px;
    opacity: 1;
    border-radius: 10px;
    padding: 14px;
    background: rgba(242, 248, 252, 0.37);
    position: absolute;
    right: 24px;
    bottom: 24px;
}
.side-nav img{
    box-sizing: border-box;
    width: 100%;
    /* height: 60px; */
    border-radius: 4px;
}
.side-nav h6{
    font-weight: 600;
    font-size: 14px;
}
.side-px{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* ============FEATURE============ */
marquee{
    margin-top: 32px;
}
.feature{
    display: flex;
    gap: 24px;
    align-items: center;
}
.sponsor{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 600px;
    margin: 0 !important;

}
.sponsor h5{
    margin: 0 !important;

}
.sponsor img{
    width: 40px;
    height: 40px;
    border-radius: 500px;
}

/* ============EXPLORE SECTION =================== */

.explore{
    display: inline-flex;
    align-items: center;
    gap: 69px;
}
.explore-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.txt h1{
    color: var(--color-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 350;
    line-height: 132%; /* 52.8px */
}

.txt-img{
    display: flex;
    align-items: center;
    gap: 17px;
    align-self: stretch;
}
.txt-img img{
    display: flex;
    width: 160px;
    height: 122px;
    padding: 0px 1.107px 0px 0.107px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
}
.prop-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    align-self: stretch;
}
.txt-img .prop{
    height: 122px;
    width: 322px;
    display: flex;
    padding: 0px 11px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--color-blue);
}
.txt-img .prop h4{
    width: 217px;
    color: var(--white, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 131%; /* 35.37px */
}
.txt-img .prop img{
    width: 83px;
    height: 122px;
    aspect-ratio: 83/122;
}

/* ------------ */
.explore-card{
   display: flex;
    align-items: center;
    gap: 21px;

}
.explore-card .card{
    display: flex;
    /* max-width: 344px; */
    height: 452px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 19px;
    border-radius: 10px;
    flex: 1 0 0;
}

.explore-card .card:nth-child(1){
    background: url(../image/Vintage\ Aircraft\ 2.png);
    background-size: cover;
    background-position: center;
}
.explore-card .card:nth-child(2){
    background: url(../image/AME.png);
    background-size: cover;
    background-position: center; 
}
.explore-card .card .description{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.84);

    /* inner */
    box-shadow: 0px 0px 11.9px 0px rgba(255, 255, 255, 0.84) inset;
}


/* ============ADVERT SECTION============= */
.ads{
    background: url(../image/airpeace.png);
    background-size: cover;
    height: 60vh;
    background-position: top;
    border-radius: 8px;
    
}
.ads .ad-txt{
    background: rgba(242, 248, 252, 1);
    width: 150px;
    height: 39px;
    border-bottom-right-radius: 16px;
    padding: 10px;
}
.ads p{
    width: 113px;
    height: 21px;
}

/* ==========POTENTIAL========== */
.pt-txt {
    max-width: 729px;      
    margin: 0 auto;   
    margin-top: 15vh; 
    font-size: 48px;
    line-height: 132%;
    text-align: center;    
}


/* ================MENTORSHIP================== */


.mentor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
}

/* Left section */
.mentor-txt {
    flex: 1;
    width: 616px;
    height: 488px;
    background: rgba(234, 234, 234, 1);
    border-radius: 24px;
    padding: 24px;
}

.mtxt h2 {
    line-height: 1.3;
    margin-bottom: 20px;
}


.mtxt-p {
    background: rgba(242, 248, 252, 1);
    border-radius: 16px;
    padding: 16px;
    margin-top: 13vh;
}

.mtxt-p p {
    margin-bottom: 16px;
    line-height: 28px;
}

/* Right cards */
.mentor-card {
    display: flex;
    gap: 24px;
}

.men-1, .men-2 {
    width: 267px;
    height: 488px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.men-1 {
    background-image: url("../image/Mentor_1.png");
    background-color: rgba(116, 173, 253, 1);
}

.men-2 {
    background-image: url("../image/Mentor_2.jpg");
}

.men-txt {
    width: 100%;
    height: 144px;
    padding: 16px 12px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 16px;
    background-color: rgba(178, 190, 181, 0.34);
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: rgba(0, 0, 0, 0.04);
    /* backdrop-filter: blur(79.69999694824219px) */
}

/* ===============QUIZ SECTION============== */
.quizes{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}
.qui-imgs{
    width: 557px;
    height: 575px;
    top: 2783px;
    left: 92px;
    border-radius: 16px;
}
.adm{
    width: 278;
    height: 323;
    top: 2783px;
    left: 371px;
    border-radius: 16px;
    padding: 16px;
    gap: 19px;

}
.park{
    width: 256;
    height: 453;
    top: 2845px;
    left: 92px;
    border-radius: 16px;
    padding: 16px;
    gap: 19px;
}
.cloudss{
    width: 256;
    height: 453;
    top: 2845px;
    left: 92px;
    border-radius: 16px;
    padding: 16px;
    gap: 19px;
}
.qui-txt{
    width: 616px;
    height: 526px;
    top: 2808px;
    left: 732px;
    border-radius: 24px;
    padding: 24px;
    gap: 40px;
    background: rgba(234, 234, 234, 1);
}
.quiT{
    width: 85vh;
    height: 189px;
    font-weight: 510;
    line-height: 132%;
    letter-spacing: 0%;
}
.qui1-tx{
    width: 568px;
    height: 249px;
    border-radius: 16px;
    padding: 16px;
    gap: 32px;
    background: rgba(242, 248, 252, 1);
}
.qui1-tx p{
    width: 536px;
    height: 140px;

}

/* ==============CAREER SECTION============= */
.career{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
}
/* Left section */
.career-txt {
    flex: 1;
    width: 616px;
    height: 488px;
    background: rgba(234, 234, 234, 1);
    border-radius: 24px;
    padding: 24px;
}

.ctxt h2 {
    line-height: 1.3;
    margin-bottom: 20px;
}


.ctxt-p {
    background: rgba(242, 248, 252, 1);
    border-radius: 16px;
    padding: 16px;
    margin-top: 20px;
}

.ctxt-p p {
    margin-bottom: 16px;
    line-height: 28px;
}

/* Right cards */
.career-card {
    display: flex;
    gap: 24px;
}

.car-1, .car-2 {
    width: 267px;
    height: 488px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.car-1 {
    background-color: rgba(116, 173, 253, 1);
    background: url(../image/parade.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.car-2 {
    background-color: rgb(214, 253, 116);
    background: url(../image/view.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

/* RECOMMENDATION SECTION  */
.recom{
    /* width: 1258px; */
    height: 90%;
    top: 4082px;
    left: 91px;
    border-radius: 16px;
    padding: 32px;
    gap: 19px;
    background: rgba(62, 99, 219, 0.16);
}
.htxt h1{
    line-height: 132%;
    letter-spacing: 0%;
    text-align: center;
}
.htxt p{
    text-align: center;
}

.fly{
    /* width: 1194px; */
    height: 63vh;
    border-radius: 16px;
    background: url(../image/BI-RECOM.png);
    background-position: right;
    background-size: cover;
}
.recom-NCAT{
    display: flex;
    gap: 15px;
    padding-top: 35px;
    padding-left: 32px; 
}
.recom-fly-img{
    gap: 10px;
    border-radius: 10px;
    /* padding: 15px; */
    display: flex;
}
.recom-fly-img img{
    width: 61.59468460083008px;
    height: 60px;
   
}
.recom-fly-txt p{
    width: 264px;
    height: 32px;
}
.recom-txt{
    width: 466px;
    height: 133px;
    border-radius: 10px;
    padding: 12px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.23);
    margin-bottom: 27px;
    margin-left: 22px;
    margin-top: 55px;
}
.recom-txt p{
    width: 442px;
    height: 109px;
    /* font-family: Beiruti; */
    line-height: 137%;
    letter-spacing: 0%;
}
.recom-arrow{
    padding-left: 32px;
}
/* =============BOTTOM HEADER SECTION============= */
.bottom {
    background: rgba(213, 224, 247, 1);
    padding: 40px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 40px; 
}

.btm-txt {
    max-width: 729px;      
    margin: 0 auto;   
    font-size: 48px;
    line-height: 132%;
    text-align: center;
}

/* Cards container */
.bottom-cards {
    display: flex;
    gap: 44px;
    flex-wrap: wrap; 
    justify-content: center;
}

/* Common card styles */
.bcard {
    width: 312px;
    height: 270px;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.bcard img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    object-fit: cover;
}

/* Light card */
.bcard-light {
    background: rgba(172, 190, 240, 1);
    color: #000;
}

/* Dark card */
.blackcard-dark {
    background: rgba(33, 33, 33, 1);
    color: var(--color-white);
    transform: translateY(-20px);
    
}

/* =============SECOND MENTOR SECTION========== */
.sc-men{
    max-width: 729px;      
    margin: 0 auto;  
    margin-top: 10vh;  
    font-size: 48px;
    line-height: 132%;
    text-align: center;
}

/* ==========FINAL SECTION============ */
.final{
    width: 676px;
    height: 655px;
    top: 5808px;
    left: 382px;
    border-radius: 24px;
    background: rgba(51, 51, 51, 1);
    justify-self: center;
    padding: 24px;
}
.whatsapp{
    display: flex;
    gap: 25px;
}
.what-img{
    background: url(../image/wa-img.png);
    background-size: cover;
    background-position: right;
    width: 50%;
    height: 599px;
    border-radius: 18px;
}
.what-txt-head{
    color: var(--color-white);
    
}

.what-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.what-top {
    flex: 1; 
}

.what-txt-groups img{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 8px;
}
.what-txt-groups{
    padding: 10px;
    border-radius: 8px;
    background-color: #000;
    color: var(--color-white);
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
    
}

.what-txt-groups p{
    font-size: 14px;
    margin-bottom: 0;
}

.group-flex {
    display: flex;
    gap: 20px;
}

.members {
    width: 146px;
    height: 103px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.members h1 {
    font-size: 38px; 
    /* font-weight: bold; */
    margin: 0;
}

.members p {
    font-size: 17px;
    margin: 0;
    line-height: 1.4;
}
